body {
    background-color: #eeeeee;
    font-family: 'Segoe UI';
    font-size: 14px;
    font-weight: normal;
}

article {
    background-color: #fff;
    border:1px solid #999999;
    overflow: auto;
    padding-right: 10px;
    width: 350px;
    margin: 30px 0 30px 0;
    position: relative;
}

h1 {
    font-size: 1.2em;
    font-weight: lighter;
}

p {
    margin: 15px;
    font-size: 0.8em;
}

img {
    float: left;
    border: 1px solid #999999;
    width: 135px;
    height: 86px;
    margin: 15px;
}

button.add, button.listen {
    background-image: url("imgs/button.png");
    width: 76px;
    height: 24px;
    border: none;
    color: #ffffff;
    margin: 5px;
    float: right;
}